$c_alabaster: #FAFAFA;
$c_pomegranate: #FC4F1E;
$c_yellow: #FFAA2E;
$c_dovegrey: #757575;
$c_veronica: #9525FB;
$c_onyx: #111111;
$c_eucalyptus: #1B8959;
$c_mercury: #E6E6E6;
$c_jaguar: #2A2A2A;
$c_tuquoise: #2BFEC1;
$c_badass: #dfff54;

$f_roboto: 'Roboto', 'Arial', sans-serif;
$f_slab: 'Roboto Slab', 'Arial', serif;
$f_cond: 'Roboto Condensed', 'Arial', sans-serif;

$m_half-bottom: 23px;
$m_default: 45px;
$m_header-top: 65px;

$mobile-width-only: 'max-width: 767px';
$tablet-width: 'min-width: 768px';
$desktop-width: 'min-width: 1024px';