section.section.codes(id="codes")
  h2.section__header.codes__header Пять принципов работы Trend Media

  ol.codes__list
    li.codes__item
      | Выполнять заказы точно в&nbsp;срок. Ложка хороша к&nbsp;обеду, а&nbsp;рекламная кампания&nbsp;&mdash; в&nbsp;правильное время. Мы&nbsp;работаем с&nbsp;надёжными подрядчиками и&nbsp;всё успеваем;
    li.codes__item
      | Иметь &laquo;План&nbsp;Б&raquo; на&nbsp;случай непредвиденных ситуаций. Мы&nbsp;не&nbsp;зацикливаемся на&nbsp;партнёрстве с&nbsp;одним поставщиком услуг: диверсификация&nbsp;&mdash; залог надёжности;
    li.codes__item
      | Не&nbsp;делать бесполезного. Если клиент пришёл с&nbsp;плохой концепцией рекламной кампании, мы&nbsp;объясним её&nbsp;недостатки и&nbsp;предложим эффективную альтернативу;
    li.codes__item
      | Записывать важную информацию. Мы&nbsp;не&nbsp;забываем детали, перезваниваем вовремя и&nbsp;не&nbsp;опаздываем на&nbsp;встречи;
    li.codes__item
      | Готовить чужую рекламу как свою собственную. Довольный клиент придёт к&nbsp;нам ещё раз, иногда вместе с&nbsp;друзьями. Совмещаем приятное с&nbsp;полезным;
    li.codes__item
      | Всегда превосходить ожидания и делать больше: например, давать бонусы, когда это возможно. Согласитесь, всегда приятно получить небольшой подарок. Особенно если он будет приносить вам доход.