section.section.features(id="features")
  h2.section__header.features__header Наши главные направления работы
  .features__description
    p.section__paragraph.features__paragraph
      | Эффективность рекламной кампании во&nbsp;многом зависит от&nbsp;правильного выбора носителя. 
      | Не&nbsp;всем товарам подходит тот или иной вид размещения, так как они действуют по-разному 
      | и&nbsp;имеют свои профили по&nbsp;целевой аудитории и&nbsp;конверсии.
    p.section__paragraph.features__paragraph
      | Мы&nbsp;провели более 1200 рекламных кампаний в&nbsp;самых разных областях и&nbsp;умеем 
      | работать со&nbsp;всеми популярными направлениями. Что именно из&nbsp;рекламы вас интересует?
    
  .features__items
    figure.features__item
      img.features__img(src="img/feature-indoor.jpg" alt="indoor реклама" height="280" width="280")
      figcaption.features__caption indoor

    figure.features__item
      img.features__img(src="img/feature-outdoor.jpg" alt="outdoor реклама" height="280" width="280")
      figcaption.features__caption outdoor

    figure.features__item
      img.features__img(src="img/feature-btl.jpg" alt="BTL и рассылки" height="280" width="280")
      figcaption.features__caption BTL и рассылки

    figure.features__item
      img.features__img(src="img/feature-internet.jpg" alt="реклама в интернете" height="280" width="280")
      figcaption.features__caption интернет

    figure.features__item
      img.features__img(src="img/feature-metro.jpg" alt="реклама в метрополитене" height="280" width="280")
      figcaption.features__caption метрополитен

    figure.features__item
      img.features__img(src="img/feature-transport.jpg" alt="реклама в транспорте" height="280" width="280")
      figcaption.features__caption транспорт

    figure.features__item
      img.features__img(src="img/feature-media.jpg" alt="реклама в СМИ" height="280" width="280")
      figcaption.features__caption СМИ

    figure.features__item
      img.features__img(src="img/feature-special.jpg" alt="спецпроекты" height="280" width="280")
      figcaption.features__caption спецпроекты