section.section.intro
  .intro__description
    p.intro__description-text
      | Здесь нет офферов и&nbsp;предложений, но&nbsp;мы&nbsp;знаем что это и&nbsp;искренне верим в&nbsp;концепцию 
      | &laquo;довольный клиент&nbsp;&mdash; это постоянный клиент&raquo;. От&nbsp;успеха вашей рекламной кампании напрямую 
      | зависит и&nbsp;наш. Если где-то надо приложить больше усилий, чем обычно&nbsp;&mdash; мы&nbsp;делаем 
      | это с&nbsp;любовью к&nbsp;работе. 
    p.intro__description-sign
      | Ваши Trend Media.
    button.btn.intro__btn Гибкие рекламные кампании
    a(href="#address").intro__company
      p.intro__company-text.-m Агентство «Trend Media»
      p.intro__company-text.-s Санкт-Петербург, Московский проспект 212, офис 5099
      p.intro__company-text.-m +7 812 490-76-08