section.section.slider(id="slider")
  .slider__controls
    button.slider__arrow.slider__arrow--left
    button.slider__arrow.slider__arrow--right

  .slider__inner
    .slider__item
      .slider__item-content
        .slider__item-col.slider__item-col--left
          .slider__item-img
            img(src="./img/binbank.jpg" height="280" width="280")
        .slider__item-col.slider__item-col--right
          h3.slider__header Сувениры для &laquo;БинБанка&raquo;
          p.slider__paragrapgh
            | В&nbsp;ходе производства сувенирной продукции очень часто приходится решать сложные 
            | задачи по&nbsp;размещению срочных заказов и&nbsp;обеспечению логистики. 
            | Компания &laquo;БинБанк&raquo; хотела изготовить два набора кружек трёх цветов: 
            | непосредственно для банка и&nbsp;для кредитных систем. Помимо изготовления на&nbsp;нас 
            | легла и&nbsp;доставка различных наборов из&nbsp;1600 экземпляров в&nbsp;каждое 
            | из&nbsp;18&nbsp;отделений.

    .slider__item
      .slider__item-content
        .slider__item-col.slider__item-col--left
          .slider__item-img
            img(src="./img/binbank.jpg" height="280" width="280")
        .slider__item-col.slider__item-col--right
          h3.slider__header Срочное размещение &laquo;Карусели&raquo; в&nbsp;лифтах
          p.slider__paragrapgh
            | У&nbsp;лифтовой рекламы есть одна особенность: все клиентские макеты (а&nbsp;их&nbsp;может 
            | быть много, не&nbsp;все выкупают большую площадь) верстаются в&nbsp;общий формат&nbsp;А1, 
            | который отправляется в&nbsp;типографию. Мы&nbsp;совершили настоящее чудо: договорились 
            | с&nbsp;подрядчиками во&nbsp;всех 37&nbsp;городах в&nbsp;3&nbsp;часовых поясах. Какие-то 
            | макеты успели переверстать, где-то информацию &laquo;Карусели&raquo; вклеивали в&nbsp;уже 
            | отпечатанный лист на&nbsp;свободное место. Так или иначе мы&nbsp;спасли рекламную кампанию 
            | и&nbsp;за&nbsp;два дня провернули&nbsp;то, что обычно занимает пару недель.

    .slider__item
      .slider__item-content
        .slider__item-col.slider__item-col--left
          .slider__item-img
            img(src="./img/binbank.jpg" height="280" width="280")
        .slider__item-col.slider__item-col--right
          h3.slider__header Грамотный подход
          p.slider__paragrapgh
            | Клиент страстно желал разместить макет в&nbsp;центре города на&nbsp;сити-форматах, 
            | особенно разместиться на&nbsp;остановках общественного транспорта, чтобы реклама 
            | работала утром и&nbsp;вечером, но&nbsp;не&nbsp;учёл один фактор: ноябрьские вечера 
            | в&nbsp;Питере&nbsp;&mdash; это темнота, холод и&nbsp;сырость. В&nbsp;Большинстве 
            | случаев остановки не&nbsp;имеют освещения, и&nbsp;рекламная конструкция попросту 
            | остаётся без внимания&nbsp;&mdash; люди впиваются глазами в&nbsp;проходящий транспорт, 
            | чтобы скорее оказаться дома. Наш опыт позволил показать слабые моменты предложенной 
            | концепции, предложить более актуальные варианты и&nbsp;спасти рекламную кампанию.

    .slider__item
      .slider__item-content
        .slider__item-col.slider__item-col--left
          .slider__item-img
            img(src="./img/binbank.jpg" height="280" width="280")
        .slider__item-col.slider__item-col--right
          h3.slider__header Маркетинговые исследования и&nbsp;контрольные закупки
          p.slider__paragrapgh
            | Наши специалисты буквально спасли один известный автосалон, менеджер которого 
            | организовал мошенническую схему по&nbsp;уводу клиентов и&nbsp;выписывание себе 
            | бонусов. Контрольная закупка вывела на&nbsp;чистую воду злоумышленника 
            | и&nbsp;подельников, которые получили реальные сроки. Клиенты автосалона больше 
            | не&nbsp;имеют проблем с&nbsp;гарантийным обслуживанием, а&nbsp;салон&nbsp;&mdash; 
            | с&nbsp;репутацией и&nbsp;продажами.

    .slider__item
      .slider__item-content
        .slider__item-col.slider__item-col--left
          .slider__item-img
            img(src="./img/binbank.jpg" height="280" width="280")
        .slider__item-col.slider__item-col--right
          h3.slider__header Быстрые рассылки
          p.slider__paragrapgh
            | Не&nbsp;так давно у&nbsp;лабораторной службы Helix проходила акция в&nbsp;25&nbsp;городах 
            | (начиная с&nbsp;СЗФО и&nbsp;заканчивая Уралом). В&nbsp;качестве способа оповещения были 
            | выбраны почтовые ящики и&nbsp;подробные буклеты в&nbsp;ДЦ. С&nbsp;виду всё просто, 
            | но&nbsp;дъявол-то кроется в&nbsp;деталях. В&nbsp;каждом городе свой макет, который 
            | надо сдать в&nbsp;типографию, отпечатать, а&nbsp;затем распространить&nbsp;&mdash; 
            | без налаженной логистики и&nbsp;партнёрских отношений со&nbsp;многими фирмами реализовать 
            | подобный проект можно за&nbsp;месяц с&nbsp;небольшим, мы&nbsp;же справились 
            | за&nbsp;6&nbsp;дней.

    .slider__item
      .slider__item-content
        .slider__item-col.slider__item-col--left
          .slider__item-img
            img(src="./img/binbank.jpg" height="280" width="280")
        .slider__item-col.slider__item-col--right
          h3.slider__header Драйвер роста
          p.slider__paragrapgh
            | Грамотное применение принципа перемещения потоков аудитории на&nbsp;общественном 
            | транспорте помогло нашему клиенту, клубу &laquo;Барвиха&raquo; провести удачную 
            | экспансию. Изначально рекламу давали только внутри Невского района, в&nbsp;котором 
            | размещён клуб. Когда эффективность локального размещения снизилась, мы&nbsp;предложили 
            | использовать рекламу в&nbsp;общественном транспорте, следующем в&nbsp;правильных 
            | направлениях. В&nbsp;результате&nbsp;&mdash; моментальный наплыв посетителей 
            | из&nbsp;других районов и&nbsp;отдалённых уголков Невского.

    .slider__item
      .slider__item-content
        .slider__item-col.slider__item-col--left
          .slider__item-img
            img(src="./img/binbank.jpg" height="280" width="280")
        .slider__item-col.slider__item-col--right
          h3.slider__header История &laquo;Nickelodeon&raquo;
          p.slider__paragrapgh
            | Наши специалисты помогли найти новую аудиторию ТВ-каналу Nickelodeon... 
            | На&nbsp;радио! Мы&nbsp;провели исследование по&nbsp;четырем показателям 
            | (Reach, Frequency, Affinity Index, CPT) и&nbsp;выбрали наиболее подходящие 
            | радиостанции в&nbsp;12&nbsp;городах. Подобрали идеально сбалансированную схему 
            | по&nbsp;стоимости и&nbsp;повторяемости, и&nbsp;запустили проект. Эффект 
            | не&nbsp;заставил себя ждать, довольный клиент, ещё одна страница с&nbsp;успешной 
            | рекламной кампанией в&nbsp;нашем портфолио.