section.section.small(id="small")
  h2.section__header.small__header Эффективная реклама для малого бизнеса

  .small__wrapper
    .small__column.small__column--left
      p.section__paragraph.small__paragraph
        | У&nbsp;крупной фирмы всегда найдутся средства на&nbsp;большую рекламную кампанию, а&nbsp;что делать частным предпренимателям, небольшим стартапам и&nbsp;всем тем, у&nbsp;кого нет лишних пары миллионов на&nbsp;раскрутку?

      p.section__paragraph.small__paragraph
        | Правильный ответ&nbsp;&mdash; выбрать наиболее эффективный канал распространения информации. То&nbsp;есть вы&nbsp;попали на&nbsp;правильный сайт.
      
      p.section__paragraph.small__paragraph.-last
        | У&nbsp;нас работаютс лучшие специалисты в&nbsp;городе. Проанализировать бизнес, целевую аудиторию, сам продукт и&nbsp;предложить идеальный рецепт рекламной кампании для нас&nbsp;&mdash; дело чести.

    .small__column.small__column--right
      p.section__paragraph.small__paragraph
        | Почему нам так важны даже скромные заказы? Всё просто. Большая часть наших постоянных клиентов сперва заказали у&nbsp;нас что-то на&nbsp;пробу и&nbsp;остались довольны результатом.

      p.section__paragraph.small__paragraph.-last
        | Совместными усилиями малый бизнес может превратиться в&nbsp;средний, а&nbsp;тот&nbsp;&mdash; в&nbsp;крупный. Бюджеты вырастут, а&nbsp;налаженные связи, скидки и&nbsp;бонусы останутся.Это выгодно и&nbsp;нам, и&nbsp;вам.

      button.btn.small__btn Хочу эффективную рекламную кампанию!