section.special
  .special__wrapper
    .special__item
      h2.section__header.special__header Мы&nbsp;не&nbsp;стесняемся выходить за&nbsp;рамки обыденности

      .special__frame
        .special__description
          p.section__paragraph.special__paragraph
            | Для лаборатории Helix мы&nbsp;подготовили брендированную зону в&nbsp;детском центре 
            | &laquo;Кидбург&raquo;: детишки знакомились с&nbsp;различными профессиями, пробуя себя 
            | в&nbsp;той или иной роли.
          p.section__paragraph.special__paragraph
            | Главным испытанием стала медицинская лаборатория, в&nbsp;которой малыши могли 
            | попрактиковаться в&nbsp;заборе крови: задача осложнялась тем, что заказчик явно запретил 
            | любые ассоциации с&nbsp;человеческим телом и&nbsp;иглами/шприцами.
          p.section__paragraph.special__paragraph
            | Пациентом стал полутораметровый плюшевый медведь, внутри которого сделали легкообслуживаемую 
            | &laquo;кровеносную систему&raquo;. Вместо шприца использовали вакуумную пробирку: ребёнок 
            | садился рядом с&nbsp;Мишкой, вставлял её&nbsp;в&nbsp;специальное место на&nbsp;лапе, 
            | и&nbsp;&laquo;кровь&raquo; сама наполняла сосуд.

    .special__item
      h2.section__header И&nbsp;при этом уважаем классику

      p.section__paragraph
        | Нестанадртные решения&nbsp;&mdash; это круто, но&nbsp;зачастую можно обойтись простыми 
        | и&nbsp;проверенными решениями. Только не&nbsp;подумайте, что банальную &laquo;наружку&raquo; можно 
        | заказать где попало и&nbsp;разницы не&nbsp;будет. Будет, и&nbsp;ещё какая.

      p.section__paragraph
        | Все производственные процессы, начиная с&nbsp;создания макета и&nbsp;заканчивая составлением 
        | отчётов находятся под плотным контролем опытных менеджеров. Мы&nbsp;работаем только с&nbsp;проверенными 
        | исполнителями и&nbsp;ревностно относимся к&nbsp;качеству предоставляемых услуг, поэтому 
        | не&nbsp;срываем сроки, не&nbsp;раздуваем бюджеты и&nbsp;быстро решаем любые возникающие проблемы.

    .special__item 
      h2.section__header.special__call Уже знаете, какой формат вам подходит больше?
      .special__content
          button.btn.special__btn Мне нужно нечто особенное
          button.btn Обойдёмся проверенными решениями