section.section.stats(id="stats")
  h2.section__header.stats__header Меньше слов, больше цифр
  p.section__paragraph.stats__paragraph
    | Хотите объективных данных? Их&nbsp;есть у&nbsp;нас! Мы&nbsp;ведём тщательный учёт всего, 
    | что связано с&nbsp;нашей деятельностью и&nbsp;с&nbsp;радостью поделимся с&nbsp;вами той 
    | информацией, за&nbsp;которую не&nbsp;придётся никого убивать. :)

  ul.stats__list-l
    li.stats__item-l
      .stats__figures-l 163
      p.stats__description-l города охватывают наши рекламные площади

    li.stats__item-l
      .stats__figures-l 37
      p.stats__description-l благодарственных писем от&nbsp;довольных клиентов

    li.stats__item-l
      .stats__figures-l 139
      p.stats__description-l успешно завершённых крупных проектов

  .stats__content
    ul.stats__list-s
      li.stats__item-s
        span.stats__figures-s 172
        p.stats__description-s Рекламных площадей в&nbsp;родном Санкт-Петербурге и&nbsp;Ленинградской области

      li.stats__item-s
        span.stats__figures-s 86 531
        p.stats__description-s Квадратный метр рекламных площадей в&nbsp;Санкт-Петербурге и&nbsp;городах-спутниках

      li.stats__item-s
        span.stats__figures-s 6 500
        p.stats__description-s Точек размещения рекламы проверяется ежемесячно нашими специалистами

    ul.stats__list-s
      li.stats__item-s
        span.stats__figures-s > 800
        p.stats__description-s Концепций рекламных кампаний и крупных макетов разработано за год

      li.stats__item-s
        span.stats__figures-s > 60
        p.stats__description-s Чашек эспрессо ежедневно готовит офисная кофе-машина

      li.stats__item-s
        span.stats__figures-s 14
        p.stats__description-s Недовольных клиентов, сорванных контрактов и невыполненныхоьязательств