section.section.team(id="team")
  .team__wrapper
    h2.section__header.team__header Наша дружная команда
    p.section__paragraph.team__paragraph
      | Мы&nbsp;не&nbsp;только собрали лучших специалистов со&nbsp;всего Петербурга, 
      | но&nbsp;и&nbsp;научили их&nbsp;работать вместе. Не&nbsp;то&nbsp;что&nbsp;бы они 
      | сильно отказывались, но, как говорится, добрым словом и&nbsp;премией можно добиться 
      | куда большего, чем просто добрым словом.

    h2.section__header.team__header Профессионалы своего дела
    .team__cards
      .team__card.team__card--l
        .team__card-photo.team__card-photo--l
          img(src="img/team/semyannikov.jpg" width="210" height="210")
        .team__card-bio
          h3.team__card-name Виктор Семянников,
          .team__card-post руководитель отдела продаж
          p.team__card-desc
            | Грамотно использовать деньги наших клиентов для проведение рекламных 
            | акций&nbsp;&mdash; полдела, не&nbsp;менее важно проконтролировать результат и&nbsp;убедиться, 
            | что всё выполнено в&nbsp;лучшем виде. Виктор отвечает за&nbsp;качество наших услуг, 
            | урегулирование любых проблем и&nbsp;развитие основных направлений.

      .team__cards.team__cards--s
        .team__card.team__card--s
          .team__card-photo
            img(src="img/team/khamid.jpg" width="105" height="105")
          .team__card-bio
            h3.team__card-name Наталья Хамидова, 
            .team__card-post менеджер проектов
            p.team__card-desc
              | Проложить грамотный маршрут от&nbsp;технического задания к&nbsp;результату&nbsp;&mdash; 
              | это искусство. Выбрать правильные методы, найти лучших подрядчиков, организовать всё 
              | в&nbsp;лучшем виде в&nbsp;сжатые сроки Наталья умеет лучше всех.

        .team__card.team__card--s
          .team__card-photo
            img(src="img/team/astaf.jpg" width="105" height="105")
          .team__card-bio
            h3.team__card-name Анна Астафьева,
            .team__card-post юрист
            p.team__card-desc
              | Согласование макетов, улаживание правовых вопросов и&nbsp;прочие юридические 
              | тонкости находятся в&nbsp;ведении Анны&nbsp;&mdash; человека, который отлично 
              | знает все особенности рекламного делопроизводства и&nbsp;сопутствующих 
              | законодательных норм.

        .team__card.team__card--s
          .team__card-photo
            img(src="img/team/lisitz.jpg" width="105" height="105")
          .team__card-bio
            h3.team__card-name Олеся Лисицкая,
            .team__card-post менеджер проектов
            p.team__card-desc
              | Быстрый запуск, эффективные методы и&nbsp;умение быстро прикидывать бюджет 
              | (и&nbsp;не&nbsp;вылезать за&nbsp;его рамки)&nbsp;&mdash; коронные приёмы Олеси. 
              | Она превосходно чувствует потребности целевой аудитории и&nbsp;всегда находит 
              | убедительные способы взаимодействия с&nbsp;вашими будущими клиентами.

        .team__card.team__card--s
          .team__card-photo
            img(src="img/team/meleh.jpg" width="105" height="105")
          .team__card-bio
            h3.team__card-name Екатерина Мелехина,
            .team__card-post дизайнер
            p.team__card-desc
              | Менеджер проектов может придумать сколь угодно интересную концепцию или чудесный 
              | формат, но&nbsp;без воплощения в&nbsp;реальности он&nbsp;ничего не&nbsp;принесёт. 
              | Катя уже нашла общий язык с&nbsp;нашими генераторами идей и&nbsp;отлично понимает 
              | их&nbsp;потребности, целевую аудиторию и&nbsp;требуемый результат. 
              | За&nbsp;это мы&nbsp;её&nbsp;и&nbsp;ценим.

        .team__card.team__card--s
          .team__card-photo
            img(src="img/team/knyaz.jpg" width="105" height="105")
          .team__card-bio
            h3.team__card-name Дарья Князева,
            .team__card-post менеджер проектов
            p.team__card-desc
              | Если обычные методы не&nbsp;помогают, и&nbsp;требуется интуитивный подход 
              | к&nbsp;клиенту и&nbsp;его проблеме, в&nbsp;игру вступает Дарья. Она умеет 
              | внимательно слушать, образно мыслить и&nbsp;адаптировать самые необычные концепции 
              | к&nbsp;класссическим форматам.

        .team__card.team__card--s
          .team__card-photo
            img(src="img/team/podolyan.jpg" width="105" height="105")
          .team__card-bio
            h3.team__card-name Владислав Подолян,
            .team__card-post телемаркетолог
            p.team__card-desc
              | Есть люди, которые продадут песок бедуинам в&nbsp;пустыне и&nbsp;воду утопающим, 
              | и&nbsp;Владислав&nbsp;&mdash; один из&nbsp;них.

        .team__card.team__card--s
          .team__card-photo
            img(src="img/team/muraz.jpg" width="105" height="105")
          .team__card-bio
            h3.team__card-name Леся Мурзаева,
            .team__card-post менеджер проектов
            p.team__card-desc
              | Когда классических решений недостаточно, а&nbsp;рекламный бюджет несколько меньше, 
              | чем у&nbsp;стройки &laquo;Зенит-Арены&raquo;, в&nbsp;дело вступает Леся&nbsp;&mdash; 
              | специалист по&nbsp;креативу. Созданные ею&nbsp;проекты похожи на&nbsp;яркий цветник 
              | посреди серых городских будней.

        .team__card.team__card--s
          .team__card-photo
            img(src="img/team/black.jpg" width="105" height="105")
          .team__card-bio
            h3.team__card-name Лиза Суаридзе,
            .team__card-post телемаркетолог
            p.team__card-desc
              | Талантлива во&nbsp;всём, своей улыбкой любого скептика превращает в&nbsp;оптимиста.

        .team__card.team__card--s
          .team__card-photo
            img(src="img/team/trufan.jpg" width="105" height="105")
          .team__card-bio
            h3.team__card-name Кирилл Труфанов,
            .team__card-post менеджер проектов
            p.team__card-desc
              | Мастер аналитики, цифр и&nbsp;глубокого изучения любого необходимого для работы 
              | вопроса&nbsp;&mdash; Кирилл&nbsp;&mdash; наш специалитст в&nbsp;области интернет-маркетинга 
              | и&nbsp;цифровой рекламы. Самые современные методики, только актуальная информация 
              | и&nbsp;обдуманные решения. Ваша интернет-реклама принесёт необходимый результат.

        .team__card.team__card--s
          .team__card-photo
            img(src="img/team/mamchitz.jpg" width="105" height="105")
          .team__card-bio
            h3.team__card-name Евгения Мамчиц,
            .team__card-post телемаркетолог
            p.team__card-desc
              | Удивительно, сколько информации может вложить Женя в&nbsp;30-секундный 
              | телефонный разговор. Всем&nbsp;бы так!
