section.section.trust
  .trust__wrapper
    h2.section__header.trust__header Нам доверяют свою репутацию

    p.section__paragraph.trust__paragraph
      | В&nbsp;современном мире любое неосторожное действие, любая мелочь могут стоить вам&nbsp;&mdash; 
      | карьеры, а&nbsp;фирме&nbsp;&mdash; репутации, которую зарабатывали многие годы. 
      | Мы&nbsp;работаем очень аккуратно и&nbsp;не&nbsp;подставляем клиентов под удар: даже 
      | провокационная реклама может быть яркой и&nbsp;не&nbsp;пошлой одновременно.

    p.section__paragraph.trust__paragraph
      | Посмотрите на&nbsp;реализованные нами проекты. Они все разные по&nbsp;концепции, 
      | сложности и&nbsp;применяемым методикам. Во&nbsp;всех случаях клиенты остались довольны.