section.section.case
  .case__wrapper
    h2.section__header.case__header Случай из практики

    p.section__paragraph.case__paragraph
      | Сеть гипермаркетов &laquo;Карусель&raquo; заказала нам размещение рекламных материалов в&nbsp;37&nbsp;городах РФ&nbsp;&mdash; от&nbsp;Северо-Запада и&nbsp;до&nbsp;Урала. В&nbsp;договоре было прописано размещение не&nbsp;позднее 15&nbsp;числа.

    p.section__paragraph.case__paragraph
      | У&nbsp;лифтовой рекламы есть одна особенность: все клиентские макеты (а&nbsp;их&nbsp;может 
      | быть много, не&nbsp;все выкупают большую площадь) верстаются в&nbsp;общий формат&nbsp;А1, 
      | который отправляется в&nbsp;типографию, разом отпечатывается и&nbsp;отправляется 
      | на&nbsp;монтаж: кто не&nbsp;успеет сдать макет вовремя&nbsp;&mdash; попросту пролетает 
      | с&nbsp;размещением на&nbsp;этом этапе.

    p.section__paragraph.case__paragraph
      | Сами понимаете, &laquo;Карусель&raquo; размещает акционную информацию, которая будет 
      | актуально строго ограниченный промежуток времени, и&nbsp;их&nbsp;менеджеры прислали макет 
      | за&nbsp;два дня до&nbsp;расклейки, 13-го. В&nbsp;каких-то городах макет уже свёрстан 
      | и&nbsp;подготовлен к&nbsp;печати, где-то уже отпечатан и&nbsp;готов к&nbsp;монтажу&nbsp;&mdash; 
      | в&nbsp;общем, &laquo;Шеф, всё пропало, клиент снимает гипс&raquo;.

    p.section__paragraph.case__paragraph
      | Мы&nbsp;совершили настоящее чудо: договорились с&nbsp;подрядчиками во&nbsp;всех 
      | 37&nbsp;городах в&nbsp;3&nbsp;часовых поясах. Какие-то макеты успели переверстать, 
      | где-то информацию &laquo;Карусели&raquo; вклеивали в&nbsp;уже отпечатанный лист 
      | на&nbsp;свободное место. Так или иначе мы&nbsp;спасли рекламную кампанию 
      | и&nbsp;за&nbsp;два дня провернули&nbsp;то, что обычно занимает пару недель.