section.examples(id="examples")
  h2.section__header.examples__header Примеры размещения

  .examples__arrows
    button.examples__arrow.examples__arrow--left
    button.examples__arrow.examples__arrow--right

  .examples__inner
    .examples__item
      .examples__item-content
        figure.examples__item-img
            img(src="./img/inner/home.jpg")
            figcaption.examples__item-caption Размещение рекламы в ВУЗе

    .examples__item
      .examples__item-content
        figure.examples__item-img
            img(src="./img/inner/home.jpg")
            figcaption.examples__item-caption Размещение рекламы — 2

    .examples__item
      .examples__item-content
        figure.examples__item-img
            img(src="./img/inner/home.jpg")
            figcaption.examples__item-caption Размещение рекламы — 3

    .examples__item
      .examples__item-content
        figure.examples__item-img
            img(src="./img/inner/home.jpg")
            figcaption.examples__item-caption Размещение рекламы — 4