section.section.how
  .how__wrapper
    h2.section__header.how__header Как работает indoor-реклама?

    .how__description
      p.how__paragraph
        | &laquo;Один из&nbsp;самых популярных форматов B2C рекламы&nbsp;&mdash; indoor, 
        | или &bdquo;внутрянка&ldquo;. Она проста и&nbsp;достаточно эффективна при грамотном 
        | применении.
      p.how__paragraph
        | Главная фишка&nbsp;&mdash; заинтересовать пользователя там, где ему скучно. 
        | Провокативное изображение, интересная концепция, что угодно, чтобы впустить рекламную 
        | информацию в&nbsp;зону комфорта.
      p.how__paragraph
        | Правильно подобранный формат приживётся в&nbsp;любом помещении: от&nbsp;поликлиники 
        | до&nbsp;торгового центра, а&nbsp;создавать креативные плакаты мы&nbsp;умеем&raquo;.
      
    .how__quot
      dl.how__author
        dt.how__name Наталья Хамидова, 
        dd.how__post менеджер проектов
      .how__photo
        img(src="img/team/khamid.jpg" width="105" height="105")

    .how__btn
      button.btn Заказать indoor-рекламу

