section.section.order(id="order")
  .order__wrapper
    h2.section__header.order__header Как оформить заказ?

    .order__content
      .order__col
        dl.order__address
          dt.address__def В нашем офисе
          dd.address__desc
            | Санкт-Петербург, ул. Алтайская, д. 3, офис 404
            | Зайти в гости можно по будням, с 9#[sup 30] до 18#[sup 00].

          dt.address__def 
            | По телефону 
            a.address__tel(href="tel:+7124567890") +7 123 456-78-90
          dd.address__desc 
            | Звонки принимаются в рабочее время:
            | с 9#[sup 00] до 19#[sup 00] ежедневно.

          dt.address__def В e-mail переписке
          dd.address__desc
            | Наша почта — inbox@trendmedia.ru. Не забудьте представиться!

          dt.address__def Через форму обратной связи
          dd.address__desc
            | Мы свяжемся с вами в удобное время и обо всём договоримся.

      .order__col.order__col--right
        script.
          var amo_forms_params = {id: 183862, hash: '407dddb16cfc1a34eaab871f0661218f', locale: 'ru'}
        script(id="amoforms_script" async="async" src="https://forms.amocrm.ru/forms/assets/js/amoforms.js")