section.section.price(id="price")
  .price__wrapper
    h2.section__header.price__header Пакет &laquo;Жилые дома&raquo; и&nbsp;отдельные цены
    p.section__paragraph.price__paragraph
      | Мы&nbsp;подготовили для вас три выгодных предложения, которые имеют фиксированную 
      | стоимость размещения и&nbsp;изготовления. Так вы&nbsp;сможете спрогнозировать затраты 
      | на&nbsp;рекламную кампанию и&nbsp;быстро заказать конкретное решение, если оно вам 
      | понравится.

    p.section__paragraph.price__paragraph
      | Вы&nbsp;получаете аудиторию жилых домов, аудиторию клиентов с&nbsp;повышенной лояльностью, 
      | которые видят ваше рекламное сообщение в&nbsp;зоне комфорта, уже практически у&nbsp;себя 
      | дома. Высокое качество рекламного контакта (глубина просмотра + длительность) позволяется 
      | добиться более эффективной отдачи, чем у&nbsp;других indoor носителей.

    ul.price__prices
      li.price__item
        .price__title Тариф &laquo;Эконом&raquo;&nbsp;&mdash; 28&nbsp;600 рублей
        p.price__description
          | Размещение в лифтах, формат А5, 210 стендов

      li.price__item
        .price__title Тариф &laquo;Стандарт&raquo;&nbsp;&mdash; 59&nbsp;700 рублей
        p.price__description
          | Размещение в лифтах, формат А4, 250 стендов

      li.price__item
        .price__title Тариф &laquo;Профи&raquo;&nbsp;&mdash; 89&nbsp;800 рублей
        p.price__description
          | Размещение в лифтах, формат А3, 200 стендов

      li.price__item.price__item--custom
        h3.price__title.price__title--custom Индивидуальное размещение
        p.price__description--custom
          | Стоимость размещения #[b в&nbsp;бизнес-центрах&nbsp;&mdash; от&nbsp;8&nbsp;000&nbsp;рублей], 
          | реклама #[b в&nbsp;жилых домах от&nbsp;10&nbsp;000], #[b в&nbsp;ТЦ&nbsp;&mdash;от&nbsp;15&nbsp;000]. 
          | Цены на&nbsp;печать рекламных материалов зависят от&nbsp;многих 
          | факторов и&nbsp;рассчитываются после предоставления макетов.