footer.section.footer
  .footer__column.footer__column--left

    h3.footer__header Быстрая навигация

    nav.footer__nav
      ul.footer__list
        li.footer__item
          a.footer__link.footer__link--main(href="#") Главная
        li.footer__item 
          a.footer__link(href="#features") Виды рекламы
        li.footer__item 
          a.footer__link(href="#slider") Портфолио
        li.footer__item
          a.footer__link(href="#small") Малому бизнесу
        li.footer__item
          a.footer__link(href="#stats") Статистика
        li.footer__item
          a.footer__link(href="#codes") Принципы
        li.footer__item
          a.footer__link(href="#team") Команда
        li.footer__item
          a.footer__link(href="#address") Контакты

      ul.footer__list
        li.footer__item.footer__item--main 
          a.footer__link.footer__link--main(href="#features") Услуги

          ul.footer__inner-list
            li.footer__item 
              a.footer__link(href="/inner.html") Реклама в&nbsp;метро
            li.footer__item 
              a.footer__link(href="/inner.html") Реклама на транспорте
            li.footer__item 
              a.footer__link(href="/inner.html") Oudtoor-реклама
            li.footer__item 
              a.footer__link(href="/inner.html") Indoor-реклама и лифты
            li.footer__item
              a.footer__link(href="/inner.html") BTL и&nbsp;рассылки
            li.footer__item
              a.footer__link(href="/inner.html") Работа со&nbsp;СМИ
            li.footer__item
              a.footer__link(href="/inner.html") Реклама в&nbsp;интернете
            li.footer__item
              a.footer__link(href="/inner.html") Спецпроекты

  .footer__column.footer__column--right
    p.footer__header.footer__header--company Trend Media / 2017
    dl.footer__contacts
      dt.footer__contacts-title Контакты
      dd.footer__contacts-address
        | «Тренд Медиа» #[br]
        | 19606, Санкт-Петербург,#[br]
        | Московский проспект, д. 212#[br]
        | +7 812 490-76-08#[br]
        | inbox@trendmedia.ru

    p.footer__copyright © Trend Media, 2017

