header.header
  button.header__map
    div
      .header__map-block
      .header__map-text карта сайта
  h2.header__logo Trend Media
  .header__phone
    a(href="tel:+78124907608") 
      nobr +7 812 490-76-08
  
  nav.header__sitemap
    ul.header__list
      li
        a.header__link(href="#") Главная
      li
        a.header__link(href="#features") Направления работы
      li
        ul.header__list
          li
            a.header__link(href="/inner.html") Oudtoor-реклама
          li
            a.header__link(href="/inner.html") Indoor-реклама и&nbsp;лифты
          li
            a.header__link(href="/inner.html") BTL и&nbsp;рассылки
          li
            a.header__link(href="/inner.html") Реклама в&nbsp;интернете
          li
            a.header__link(href="/inner.html") Спецпроекты
          li
            a.header__link(href="/inner.html") Работа со&nbsp;СМИ
          li
            a.header__link(href="/inner.html") Реклама в&nbsp;метро
          li
            a.header__link(href="/inner.html") Реклама на&nbsp;транспорте

        li
          a.header__link(href="#slider") Портфолио
        li
          a.header__link(href="#small") Малому бизнесу
        li
          a.header__link(href="#stats") Статистика
        li
          a.header__link(href="#codes") Принципы
        li
          a.header__link(href="#team") Команда
        li
          a.header__link(href="#address") Контакты